<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Unshortener</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: rgb(39, 40, 41);
        }
        .container {
            max-width: 100vh;
            color: #D8D9DA;
        }
        .form-container {
            background-color: #D8D9DA;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
        }

        #main_button {
            background-color: #61677A;
            color: white;
            padding: 8px 8px;
            cursor: pointer;
            transition: background-color 1s, color 0.5s;
        }

        #main_button:hover {
            background-color: #D8D9DA;
            color: black;
            border: 1px solid black;
        }

        .satan-loader {
            display: inline-block;
            animation: pump 2s infinite ease-in-out;
            font-size: 12px; /* Adjust the size as needed */
        }

        @keyframes pump {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }

        
    </style>
</head>
<body>

    <!--NAV-->
    <nav class="navbar navbar-expand-lg navbar-light" style="background: rgba(0, 0, 0, 0.2);">
        <a class="navbar-brand" href="#" style="color: white;">URL👿Unshortener</a>
        <button style="border: 1px solid white; color:rgba(255, 255, 255, 0.773);" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            menu
        </button>
       

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link " href="/" style="color: white;">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/api-docs" style="color: grey;">API</a>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle disabled"  style="color: grey;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
                        Browser Extensions
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Chrome</a>
                        <a class="dropdown-item" href="#">Firefox</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
<!--/NAV-->

<div class="alert alert-dark" role="alert" style="font-size: 14px; text-align: center;">
    This is a <b>free</b> service that allows you to expand short URLs to preview their destination without visiting them.
    However, it is limited to 25 requests per day. <a style="color:black; text-decoration: underline;" href="/api-docs">Check API docs.</a>
  </div>
    <div class="container-fluid mt-5">
        <div class="text-center mt-2">
            <h1 style="color:white;"><b>URL👿Unshortener</b></h1>
            <div style="font-size: 18px; color: darkgrey; height:1vh;" class="typed-element"></div>

        </div>
    </div>

    <div class="container mt-5">
        <div class="form-container">
            <form id="unshortenForm" method="post" action="/unshorten">
                <div class="form-group">
                    <label for="shortUrlInput" style="color: black;">Enter short URL<small> like this: <b>tinyurl.com/brr3mz5z</b></small></label>
                    <input required type="text" placeholder="Insert short url"  class="form-control" id="shortUrlInput" name="url" >
                </div>

                <button type="submit" class="btn w-100" id="main_button">Unshorten</button>
            </form>
        </div>
        <div class="mt-3" style="text-align: center">
            <small style="color: #d8d9da59;" id="originalUrlResult">Your unshortened url will appear here</small>
        </div>
    </div>

    <Hr>
<!--render 4 last entries-->
<div class="container-fluid mt-1"> 
    <h5 style="color:lightblue;">Past urls:</h5>
    <div class="row" id="pastUrls">
        <% lastTenEntries.forEach(entry => { %>
            <div class="col-md-3 mb-3" >
                <div class="card" style="height: auto;">
                    <div class="card-body">
                        <p class="card-title">Short URL: <small href="<%= entry.shortUrl %>"><%= entry.shortUrl %></small></p>
                        <p class="card-text">Original URL: <a href="<%= entry.originalUrl %>"><%= entry.originalUrl %></a></p>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>

    
<!--render 4 last entries-->

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
    <script src="https://kit.fontawesome.com/dde8171781.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
  
    

<script>
    //TYPED JS VIA CDN
    var options = {
  strings: [
    "Know Where You're Going.",
    "Unshorten URLs for Transparent Link Checking.",
    "Avoid Malicious Links.",
    "Prevent Phishing by verifying URLs.",
    "Unmask Shortened URLs for Enhanced Security.",
    "Stay Safe Online with Unshortened Links.",
    "Yes API its free!",
  ],
  typeSpeed: 40, // typing speed in milliseconds
  backSpeed: 20, // backspacing speed in milliseconds
  showCursor: false, // show typing cursor
  loop: true // loop the animation
};

var typed = new Typed(".typed-element", options);
  </script>

  
  <script>
        document.addEventListener('DOMContentLoaded', () => {
            const form = document.getElementById('unshortenForm');
            const originalUrlResult = document.getElementById('originalUrlResult');
            

           

            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                

                const shortUrlInput = document.getElementById('shortUrlInput');
                const url = shortUrlInput.value.trim(); // Trim whitespace from the input

                if (url === '') {
                originalUrlResult.textContent = 'Error: Please enter a valid URL.';
                return; // Exit the function to prevent further processing
            }

                if (url == '') {
                    e.preventDefault();
                // Display an error message for empty URL
                originalUrlResult.textContent = 'Error: Please enter a valid URL.';
               
                return; // Exit the function to prevent further processing
            }


                try {
                    const response = await fetch('/unshorten', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ url })
                    });

                    const data = await response.json();

                    if (response.ok) {
                        originalUrlResult.innerHTML = 'Original URL: <a target="_blank" href="' + data.originalUrl + '" style="color: green; font-size: 14px; text-decoration: underline;">' + data.originalUrl + '</a>' + '<br><br>' + '  <i  style="cursor:pointer; font-size:18px;" id="copy-to" class="fa-solid fa-copy"></i>';
                    } else {
                        if (response.status === 429) {
                            originalUrlResult.textContent = data.message;
                        } else {
                            originalUrlResult.textContent = 'Error: ' + data.error;
                            originalUrlResult.removeAttribute('href'); // Remove href attribute in case of error
                        }
                    }
                } catch (error) {
                    originalUrlResult.textContent = 'Error: ' + error.message;
                    originalUrlResult.removeAttribute('href'); // Remove href attribute in case of error
                }

        
            });

            
        });



    </script>

<script>
    // Initialize Clipboard.js
    document.addEventListener('DOMContentLoaded', () => {
        const originalUrlResult = document.getElementById('originalUrlResult'); // Move this here

        const clipboard = new ClipboardJS('#copy-to', {
            text: function(trigger) {
                // Get the original URL from the result text
                const originalUrl = originalUrlResult.querySelector('a').getAttribute('href');
                return originalUrl;
            }
        });

        clipboard.on('success', (e) => {
            // Change the icon to "fa-check" after successful copy
            e.trigger.classList.remove('fa-copy');
            e.trigger.classList.add('fa-check');
        });
    });
</script>
</body>
</html>